.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    display: flex;
    justify-content: space-between;
    margin: 70px 10px 50px 30px;
    flex: 1;
}

.content__myProducts{
    width: 800px;
}

.content__myProducts__title, .content__addProducts__title{
    font-family: var(--font-press);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    filter: drop-shadow(9px 5px 3px #000000);
}

.content__myProducts__cards{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 50px;
    height: 600px;
    overflow-y: auto;
    box-shadow: -3px 5px 3px 3px rgba(0,0,0,0.16);
    -webkit-box-shadow: -3px 5px 3px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: -3px 5px 3px 3px rgba(0,0,0,0.16);
}

.content__myProducts__cards__products{
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 225px;
    margin: 25px 0 50px 25px;
    background: var(--color-cards);
    border: 3px solid var(--color-black);
    border-radius: 10px;
    box-shadow: -3px 5px 3px 3px rgba(0,0,0,0.16);
    -webkit-box-shadow: -3px 5px 3px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: -3px 5px 3px 3px rgba(0,0,0,0.16);
}

.content__myProducts__cards__products__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-branco);
    font-family: var( --font-imb);
    font-weight: 400;
    font-size: 15px;
    margin: 10px auto;
}

.content__myProducts__cards__products__content img{
    width: 150px;
    height: 150px;
    border: 3px solid var(--color-black);
    border-radius: 10px;
}

.content__myProducts__cards__products__preco{
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 700;
    font-size: 20px;
}

.delete-button{
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-branco);
    cursor: pointer;
}



/* Estilizando o scroll */
.content__myProducts__cards::-webkit-scrollbar {
    width: 8px;
}

.content__myProducts__cards::-webkit-scrollbar-thumb {
    background: rgba(214, 214, 214, 1);
    border-radius: 10px;
}

.content__myProducts__cards::-webkit-scrollbar-thumb:hover {
    background: #c1bfbf;
}

/* Section Adicinar produto */
.content__addProducts{
    margin: 0 auto;
    height: 450px;
}

.content__addProducts__formulario input{
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding-left: 10px;
    width: 370px;
    height: 55px;
    border: 3px solid var(--color-formulario);
    border-radius: 50px;
    font-size: 20px;
}

.content__addProducts__formulario input::placeholder{
    color: var(--color-formulario);
    font-family: var(--font-imb);
    font-weight: 600;
}

.content__addProducts__formulario__btns{
    display: flex;
    justify-content: center;
    gap: 13px;
}

.content__addProducts__formulario__btns button{
    width: 180px;
    height: 55px;
    border-radius: 15px;
    font-family: var(--font-imb);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.content__addProducts__formulario__btns__btn1{
    background: var(--color-formulario);
    color: var(--color-branco);
    border: none;
}

.content__addProducts__formulario__btns__btn2{
    background: var(--color-branco);
    color: var(--color-formulario);
    border: 3px solid var(--color-formulario);
}

/* Mensagem */
.mensagemLista{
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-formulario);
}

/* Aplicando Layout Responsivo */
@media(max-width: 768px){
    .content{
        flex-direction: column-reverse;
        margin: 50px auto;
        width: 100%;
    }
    .content__myProducts{
        width: 100%;
        margin: 50px auto 0 auto;
    }
    .content__myProducts__cards{
        max-width: 700px;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .content__addProducts__formulario input{
        max-width: 350px;
    }
    .content__addProducts__formulario__btns button{
        max-width: 220px;
    }
}
@media(min-width: 769px) and (max-width:1000px){
    .content{
        gap: 10px;
        margin: 70px 10px 50px 15px;
    }
    .content__myProducts__cards{
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow-x: hidden;
        margin: 0 auto;
    }
    .content__myProducts__cards__products{
        max-width: 190px;
    }
    .content__addProducts{
        margin: 0 auto;
        max-width: 300px;
    }
    .content__addProducts__formulario input{
        max-width: 250px;
        max-height: 50px;
    }
    .content__addProducts__formulario__btns button{
        max-width: 120px;
        max-height: 50px;
    }
}
